.keyboard {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.keyboard-app {
  padding: 20px;
  border-radius: 16px;
  background-color: #f5f5f5;
}

.checkPassword {
  width: 100%;
  background-color: green;
  color: white;
}

.clearInput {
  background-color: crimson;
  color: white;
}

.removeLastChar {
  background-color: orange;
  color: white;
}

.keyboard-btn {
  background-color: #d5d5d5;
  color: #1a1a1a;
}

.keyboard-btn:hover {
  background-color: blue;
  color: white;
}

.keyboard-btn:active {
  background-color: #0404dc;
}

.input {
  padding: 12px;
  background-color: #ffffff;
  width: 300px;
  height: 50px;
  text-align: right;
  box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 20px;
  color: #1a1a1a;
  font-size: 20px;
  font-weight: bold;
}

.alert {
  border-radius: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 20px;
  font-size: 24px;
  width: 100%;
}

.warning {
  color: orange;
  margin: 0;
}

.error {
  color: red;
  margin: 0;
}

.success {
  color: green;
  margin: 0;
}